# dependencies
node_modules/

# builds
dist/
build/
coverage/
*.tsbuildinfo

# env
.env
.env.*

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS/editor
.DS_Store
.vscode/

# local sqlite
*.db
*.db-journal
